/.phpunit.cache
/node_modules
/public/hot
/storage/*.key
/storage/pail
/vendor
.env
.env.local
.env.backup
env.production1
env.production2
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.DS_Store*
.htaccsess
